* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}